@model IEnumerable<Car>

<h1>Список автомобилей</h1>

<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Фото</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.CarId</td>
                <td>@car.CarName</td>
                <td>@car.ShortDescription</td>
                <td>
                    @if (!string.IsNullOrEmpty(car.Img))
                    {
                        <img src="@car.Img" alt="Фото автомобиля" width="100" />
                    }
                    else
                    {
                        <span>Нет изображения</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditCar", "Cars", new { carId = car.CarId })">Редактировать</a>

                    <form asp-action="DeleteCar" asp-controller="Cars" method="post" style="display:inline;">
                        <input type="hidden" name="carId" value="@car.CarId" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
